body {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
img {
  border:none;
}
table {
  padding:0px;
  margin-left: -2px;
  margin-right: -2px;
}
td.button {
  font-size: small;
  color: black;
  background-color: #BBBBBB;
  text-align: center;
  border-style: outset;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}

#banner {
    width: 100%;
}

#logos {
    text-align: right;
    background-image: url(astrogrid-logo.gif);
    background-repeat: no-repeat;
    color: #900;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 0;
    margin: 0px;
}

#copyright {
    text-align: right;
    font-size: x-small;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 0 5px 0 0;
    margin: 0;
    background-color: #ccc;
    color: black;
}

#bodyColumn {
  margin-left: 20%;
  margin-right: 5px;
}

#navcolumn {
  width: 18%;
  float:left;
  padding: 8px 4px 0 8px;
  margin: 10px 0 0 5px;
  border: 1px solid #999;
  background-color: #eee;
  color: black;
}

#navcolumn h2 {
  margin: 10px 0px 0px 0px;
  font-size: smaller;
  border-bottom: 1px solid #aaaaaa;
  padding: 2px 0 0 0;
}

#navcolumn ul {
  margin: 5px 0px 0px 0px;
  padding: 0;
  font-size: small;
}

#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.5em;
  font-size: smaller;
}

.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
}
.source pre {
  margin: 0px;
  padding: 0px;
}

body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}
a:link {
  color:#36a;
}
a:visited  {
  color:#47a;
}
a:active, a:hover {
  color:#69c;
}

h1 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: x-large;
}

#bodyColumn h2 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: large;
}

.source {
  border: 1px solid #999;
}

