<Context path="/astrogrid-portal">
	<!--FIXME - remove this entry when myspaces can be looked up from the registry -->
   <Environment name="@REGAUTHORITY@/myspacenull" override="true" type="java.lang.String" value="astrogrid:store:myspace:@TOMCATROOT@/astrogrid-mySpace-@VERSION@/services/Manager" 
        description="Nasty agsl hack - remove me when myspaces can be properly searched for in the registry"/>
 	
    <!--@TODO - merge the following with the endpoint property required by community (below)-->
    <Environment name="org.astrogrid.portal.registry.url" override="false" type="java.lang.String" value="@CENTRALREGISTRY@Query" 
        description="Registry Query 
        Service endpoint"/>
    <!--these are the defaults anyway, but are put in here as place holders-->
    <Environment name="emailserver.address" override="false" type="java.lang.String" value="127.0.0.1" description="Address of SMTP server"/>
    <Environment name="emailserver.user" override="false" type="java.lang.String" value="astrogrid" 
        description="account on server from which message are sent"/>
    <Environment name="emailserver.password" override="false" type="java.lang.String" value="" description="password for this account"/>
    <Environment name="emailserver.from" override="false" type="java.lang.String" value="astrogrid@star.le.ac.uk" description="Return address"/>
    <Environment name="astrogrid.portal.admin.email" override="false" type="java.lang.String" value="jdt@roe.ac.uk" 
        description="Administrator's address to whom registration requests are sent"/>
    <!--for the community client-->
    <Environment name="org.astrogrid.community.ident" override="false" type="java.lang.String" value="@REGAUTHORITY@" description="Local community identifier"/>
    <Environment name="org.astrogrid.registry.query.endpoint" override="false" type="java.lang.String" value="@CENTRALREGISTRY@Query" 
        description="Registry Query Service endpoint"/>
    <Environment name="org.astrogrid.registry.admin.endpoint" override="false" type="java.lang.String" value="@CENTRALREGISTRY@Update" 
        description="Registry Admin Service endpoint"/>
    <!--for workflow/jes-->
    <Environment name="workflow.jes.endpoint" override="false" type="java.lang.String" 
        value="@TOMCATROOT@/astrogrid-jes-@VERSION@/services/JobControllerService" description="Jes EndPoint"/>
    <Environment name="workflow.applist" override="false" type="java.lang.String" value="registry" 
        description="Instructs the portal to get the list of applications from the registry"/>
    <Environment name="registry.validate.onupdates" override="false" type="java.lang.String" value="true" 
        description="Turn validation on for updates on registry entries"/>
    <Environment name="registry.quiton.invalid" override="false" type="java.lang.String" value="false" 
        description="Quit on an invalid registry document submitted through the portal."/>

</Context>