<?xml version="1.0" ?>

<module name="background">
	<description>Background Workbench components</description>
	
	<property>
		<key>priority</key>
		<value>80</value>
	</property>	
	
	<component name="tasks" 
		implementationClass="org.astrogrid.desktop.modules.background.WorkbenchCeaComponentManager"
		interfaceClass="org.astrogrid.desktop.modules.background.TasksInternal">
	</component>	

	<component name="jesStrategy"
		implementationClass="org.astrogrid.desktop.modules.background.JesStrategyImpl"
		interfaceClass="org.astrogrid.desktop.modules.background.JesStrategyInternal">
			<property>
				<key>hidden.component</key>
				<value>true</value>								
			</property>		
	</component>

	<component name="ceaStrategy"
		implementationClass="org.astrogrid.desktop.modules.background.CeaStrategyImpl"
		interfaceClass="org.astrogrid.desktop.modules.background.CeaStrategyInternal">
			<property>
				<key>hidden.component</key>
				<value>true</value>								
			</property>		
	</component>


</module>