<Context path="/astrogrid-cea-server-SNAPSHOT">
  <!-- configuration file for the generic cea server webapp -->
  <!-- try to do without this
  <Environment name="org.astrogrid.config.url" override="false" type="java.lang.String" value="@CONFIGPATH@/AstroGridConfig.properties" />
  -->
  <Environment name="cea.filestore.basedir" override="false" type="java.lang.String" value="@WORKDIR@/cea/java/store" />
<!-- registry endpoints - these are essential for the proper working of CEA -
        it needs to be able to query the registry to do myspace operations and can update the registry with its own configuration
        I suspect that most of the components will need the query endpoint-->
<Environment name="org.astrogrid.registry.admin.endpoint" description="registry update service endpoint URL"
        type="java.lang.String" override="false"
        value="@CENTRALREGISTRY@Update" />
<Environment name="org.astrogrid.registry.query.endpoint" description="registry query service endpoint URL"
        type="java.lang.String" override="false"
        value="@CENTRALREGISTRY@Query"  />

  <Resource name="mail/session" auth="Container" type="javax.mail.Session" />
  <ResourceParams name="mail/session">
        <parameter>
                <name>mail.smtp.host</name>
                <value>@MAILHOST@</value>
        </parameter>
  </ResourceParams>
</Context>