#
# Example registry configuration file.
#
# Author:
#   A C Davenhall (ACD), Edinburgh.
#
# History:
#   10/6/03 (ACD): Original version.
#   12/6/03 (ACD): The details for each server extended to include 
#       a base directory.
#

expiryperiod 35   # expiry period in days.

#
# A list of servers.  At least one server must be present.  For each
# server its name, base URI and base directory are given, in that order.
# Each item must be separated by one or more spaces. 

#server serv1  /tmp/  /tmp/mySpaceTest/
#server serv2  /tmp/  /tmp/mySpaceTest/

#server serv1  http://codon.demon.co.uk:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/
#server serv2  http://codon.demon.co.uk:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/

#server serv1  http://capc49.ast.cam.ac.uk:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/
#server serv2  http://capc49.ast.cam.ac.uk:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/

server serv1  http://localhost:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/
server serv2  http://localhost:8080/cocoon/astrogrid/explorer/myspace/  /var/projects/astrogrid/astrogrid/portalB/build/myspace/live/service/temp/
