<Context path="/astrogrid-portal">
    <!--these are the defaults anyway, but are put in here as place holders-->
    <Environment name="emailserver.address" override="false" type="java.lang.String" value="@SMTPSERVER@" description="Address of SMTP server"/>
    
    <Environment name="emailserver.user" override="false" type="java.lang.String" value="@SMTPUSER@" 
        description="account on server from which message are sent"/>
        
    <Environment name="emailserver.password" override="false" type="java.lang.String" value="@SMTPPASS@" description="password for this account"/>
    
    <Environment name="emailserver.from" override="false" type="java.lang.String" value="@MAILFROM@" description="Return address"/>
    
    <Environment name="astrogrid.portal.admin.email" override="false" type="java.lang.String" value="@ADMINEMAIL@" 
        description="Administrator's address to whom registration requests are sent"/>
        
    <Environment name="org.astrogrid.registry.query.endpoint" override="false" type="java.lang.String" value="@CENTRALREGISTRYQUERY@" 
        description="Registry Query Service endpoint"/>
        
    <Environment name="org.astrogrid.registry.admin.endpoint" override="false" type="java.lang.String" value="@CENTRALREGISTRYUPDATE@" 
        description="Registry Admin Service endpoint"/>
        
    <!--for workflow/jes-->
    <Environment name="workflow.jes.endpoint" override="false" type="java.lang.String" 
        value="@JOBENTRYSYSTEM@/services/JobControllerService" description="Jes EndPoint"/>
        
    <Environment name="workflow.applist" override="false" type="java.lang.String" value="registry" 
        description="Instructs the portal to get the list of applications from the registry"/>
        
</Context>
