<?xml version="1.0"?>

<menu name="default"
    xmlns="http://www.astrogrid.org/portal"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.astrogrid.org/portal menu-schema.xsd">
  <description>AstroGrid Menu</description>

  <xi:include href="data-query.xml"/>
  <xi:include href="job-monitor.xml"/>
</menu>
