<Context path="/astrogrid-community-@VERSION@">

    <Environment
        description="Community identifier"
        name="org.astrogrid.community.ident"
        override="false" type="java.lang.String"
        value="@COMMUNITYID@"/>

    <Environment
        description="Community identifier"
        name="org.astrogrid.community.default.vospace"
        override="false" type="java.lang.String"
        value="ivo://@REGAUTHORITY@/filemanager-one"/>

	<Environment 
		name="org.astrogrid.registry.query.endpoint" 
		description="registry query service endpoint URL" 
		type="java.lang.String" 
		value="@CENTRALREGISTRY@Query"  />

    <Environment
        description="Publishing Metadata to Registry endpoint"
        name="org.astrogrid.registry.admin.endpoint"
        override="false" type="java.lang.String"
        value="@CENTRALREGISTRY@Update"/>

    <Resource
        name="jdbc/org.astrogrid.community.database"
        type="javax.sql.DataSource"
        />

    <ResourceParams
        name="jdbc/org.astrogrid.community.database">
        <parameter>
            <name>url</name>
            <value>jdbc:hsqldb:@WORKDIR@/org.astrogrid.community</value>
        </parameter>
        <parameter>
            <name>driverName</name>
            <value>jdbc:hsqldb:@WORKDIR@/org.astrogrid.community</value>
        </parameter>
        <parameter>
            <name>driverClassName</name>
            <value>org.hsqldb.jdbcDriver</value>
        </parameter>
        <parameter>
            <name>username</name>
            <value>sa</value>
        </parameter>
        <parameter>
            <name>password</name>
            <value/>
        </parameter>
    </ResourceParams>

</Context>
