<Context path="@CEA_WEBAPP@">

    <Environment name="cea.base.dir" 
                 override="false" 
                 type="java.lang.String" 
                 value="@CEA_WORKING" />
                 
    <Environment name="org.astrogrid.registry.admin.endpoint" 
                 description="registry update service endpoint URL" 
                 type="java.lang.String" 
                 value="@REG_UPDATE@" />
                 
    <Environment name="org.astrogrid.registry.query.endpoint" 
                 description="registry query service endpoint URL" 
                 type="java.lang.String" 
                 value="@REG_QUERY@" />

    <Environment name="cea.webapp.url" 
                 type="java.lang.String" 
                 value="@CEA_SERVICE_URL@" 
                 description="web-application URL as seen by outside world"/>
                 
    <Environment name="cea.application.authorityid" 
                 description="The authority ID under which applications will be registered" 
                 type="java.lang.String" 
                 value="@REGAUTHORITY@"/>
                 
    <Environment name="cea.javaclass.server.class" 
                 description="application class" 
                 type="java.lang.String" 
                 override="false" 
                 value="@JAVACLASS@" />
                 
    <Resource name="mail/session" 
              auth="Container" 
              type="javax.mail.Session" />
              
    <ResourceParams name="mail/session">
        <parameter>
            <name>mail.smtp.host</name>
            <value>@MAILHOST@</value>
        </parameter>
    </ResourceParams>
    
</Context>