<Context path="@CEA_WEBAPP@">
    <Environment name="cea.filestore.basedir" override="false" type="java.lang.String" value="@CEA_WORKING@/store" />
    <!--optional - picks up a default template from the classpath - can override to set up personalised values in template -->
    <Environment name="cea.registry.template.url" decription="The template registry entry" type="java.lang.String" value="file:///@CEARegistryTemplate@" />
    <!-- registry endpoints - these are essential for the proper working of CEA - 
	it needs to be able to query the registry to do myspace operations and can update the registry with its own configuration 
	I suspect that most of the components will need the query endpoint-->
    <Environment name="org.astrogrid.registry.admin.endpoint" description="registry update service endpoint URL" type="java.lang.String" value="@REG_UPDATE@" />
    <Environment name="org.astrogrid.registry.query.endpoint" description="registry query service endpoint URL" type="java.lang.String" value="@REG_QUERY@" />

    <!-- service endpoint as seen by the outside world - here because of possible NAT firewall issues-->
    <Environment name="cea.service.endpoint.url" type="java.lang.String" value="@CEA_SERVICE_URL@" description="service end point as seen by outside world"/>
    <Environment name="cea.application.authorityid" description="The authority ID under which applications will be registered" type="java.lang.String" 
        value="@REGAUTHORITY@"/>
    <Environment name="cea.javaclass.server.class" description="application class" type="java.lang.String" override="false" value="@JAVACLASS@" />
    <Resource name="mail/session" auth="Container" type="javax.mail.Session" />
    <ResourceParams name="mail/session">
        <parameter>
            <name>mail.smtp.host</name>
            <value>@MAILHOST@</value>
        </parameter>
    </ResourceParams>
</Context>