body
{
  /*
    Colours.
    */
  background-color:       LightSteelBlue;
  
  /*
    Margins.
    */
  margin:                 0;
}

/*
  Main layout table.
  */
table.main
{
  /*
    Colours.
    */
  background-color:       LightSteelBlue;
  color:                  MidnightBlue;

  /*
    Dimensions.
    */
  height:                 100%;
  width:                  100%;
  
  margin:                 0;
  padding:                0;
}

/*
  Menu elements.
  */
  
p.main-menu-header
{
  /*
    Border.
    */
  border-bottom-style:    double;
  
  /*
    Colours.
    */
/*
  background-color:       LightSteelBlue;
*/
  color:                  MidnightBlue;
  
  /*
    Fonts.
    */
  font-family:            helvetica, arial, serif;
  font-size:              x-large;
  
  /*
    Margin.
    */
  margin:                 3;
}

p.main-menu-body
{
  /*
    Borders.
    */
  border-bottom-style:    dotted;

  /*
    Fonts.
    */
  font-family:            arial, "lucida console", sans-serif;
  font-size:              large;
}

td.main-menu
{
  /*
    Colours.
    */
  background-color:       LightGray;
  color:                  MediumBlue;
}

/*
  Main content elements.
  */
h1.main-content-header
{
  /*
    Borders.
    */
  border-bottom-style:    double;
  
  /*
    Colours.
    */
  color:                  MidnightBlue;

  /*
    Fonts.
    */
  font-family:            Helvetica, Arial, serif;
}

h2.main-content-header
{
  /*
    Alignment.
    */
  text-align:             center;
  
  /*
    Borders.
    */
  border-bottom-style:    outset;
  border-right-style:     outset;
  
  
  /*
    Colours.
    */
  color:                  MidnightBlue;

  /*
    Fonts.
    */
  font-family:            Helvetica, Arial, serif;
}

table.main-content-header
{
  /*
    Dimensions.
    */
  width:                  100%;
}

td.main-content
{
  /*
    Alignment.
    */
  vertical-align:         top;
  
  /*
    Colours.
    */
  background-color:       white;

  /*
    Dimensions.
    */
  height:                 100%;
  width:                  100%;
}

td.main-content-header
{
  /*
    Padding.
    */
  padding-right:          10%;
}

.main-content-header
{
  /*
    Colours.
    */
  background-color:       LightSteelBlue;
}

/*
  Panel elements.
  */
p.panel
{
  /*
    Borders.
    */
  border-bottom-style:    groove;
  
  /*
    Colours.
    */
  background-color:       white;

  /*
    Fonts.
    */
  font-family:            serif;
}

td.main-content-panels
{
  /*
    Colours.
    */
  background-color:       LightGray;
  color:                  MediumBlue;
}
