<?xml version="1.0" ?>
<!--+
    | <cvs:source>$Source: /Users/pharriso/Work/ag/repo/git/astrogrid-mirror/astrogrid/community/src/config/Attic/config.xml,v $</cvs:source>
    | <cvs:author>$Author: dave $</cvs:author>
    | <cvs:date>$Date: 2003/09/17 19:47:21 $</cvs:date>
    | <cvs:version>$Revision: 1.4 $</cvs:version>
    | <cvs:log>
    |   $Log: config.xml,v $
    |   Revision 1.4  2003/09/17 19:47:21  dave
    |   1) Fixed classnotfound problems in the build.
    |   2) Added the JUnit task to add the initial accounts and groups.
    |   3) Got the build to work together with the portal.
    |   4) Fixed some bugs in the Account handling.
    |
    |   Revision 1.3  2003/09/15 11:18:55  dave
    |   Fixed typo in config file
    |
    |   Revision 1.2  2003/09/14 21:19:43  KevinBenson
    |   *** empty log message ***
    |
    |   Revision 1.1  2003/09/13 02:18:52  dave
    |   Extended the jConfig configuration code.
    |
    | </cvs:log>
    |
    +-->
<properties>
	<!--+
	    | Configuration properties for the community service.
	    | These values are for illustration only.
	    | The actual values are filled in by the Ant build script.
	    |
	    +-->
	<category name="org.astrogrid.community">
		<property name="community.name"   value="...."/>
		<property name="database.name"    value="...."/>
		<property name="database.config"  value="...."/>
		<property name="database.mapping" value="...."/>
	</category> 
</properties>
