<?xml version="1.0" ?>

<module name="ivoa">
	<description>Ivoa Services and Standards</description>
		<property>
		<key>icon</key>
		<value>ivoa.gif</value>
	</property>
	
		<property>
		<key>system.ui.menu.links</key>
		<value>
			<link text="IVOA Home Page"
				icon="ivoa.gif"
				toolTipText="Home Page for the Internaltion Virtual Observatory Alliance"
				url="http://www.ivoa.net/" />
		</value>
		</property>

	<property>
		<key>priority</key>
		<value>70</value>
	</property>	
	

	<component name="siap" 
		implementationClass="org.astrogrid.desktop.modules.ivoa.SiapImpl"
		interfaceClass="org.astrogrid.acr.ivoa.Siap">
		<description>Interface to Simple Image Access (SIAP) Servers</description>
		<property>
			<key>icon</key>
			<value>search.gif</value>
		</property>
		<property>
		<key>system.ui.menu.links</key>
		<value>
			<link text="SIAP Specification"
				icon="ivoa.gif"
				toolTipText="Latest version of the SIAP Spec"
				url="http://www.ivoa.net/Documents/latest/SIA.htm" />
		</value>
		</property>		
		<method name="constructQuery">
			<description>Construct a query URL</description>
		<property>
			<key>system.ui.menu.entry</key>
			<value>Construct a SIAP Search</value>
		</property>		
	<property>
		<key>icon</key>
		<value>newfile_wiz.gif</value>
	</property>					
			<parameter name="service">
				<description>url of service endpoint, or ivorn of the service description</description>
			</parameter>
			<parameter name="ra">
				<description>right ascension (double)</description>
			</parameter>
			<parameter name="dec">
				<description>declination (double)</description>
			</parameter>
			<parameter name="rad">
				<description>search radius (double)</description>
			</parameter>
			<return>
				<description>query URL that can be fetched to execute this query</description>
			</return>
		</method>
		
		<method name="constructQueryF">
			<description>Construct a query URL, specifying format</description>	
			<parameter name="service">
				<description>url of service endpoint, or ivorn of the service description</description>
			</parameter>
			<parameter name="ra">
				<description>right ascension (double)</description>
			</parameter>
			<parameter name="dec">
				<description>declination (double)</description>
			</parameter>
			<parameter name="rad">
				<description>search radius (double)</description>
			</parameter>
			<parameter name="format">
				<description>format of images</description>
			</parameter>
			<return>
				<description>query URL that can be fetched to execute this query</description>
			</return>
		</method>		

		<method name="constructQueryS">
			<description>Construct a query URL, specifying different sizes for ra and dec</description>	
			<parameter name="service">
				<description>url of service endpoint, or ivorn of the service description</description>
			</parameter>
			<parameter name="ra">
				<description>right ascension (double)</description>
			</parameter>
			<parameter name="dec">
				<description>declination (double)</description>
			</parameter>
			<parameter name="ra_size">
				<description>size of ra (double)</description>
			</parameter>
			<parameter name="dec_size">
				<description>size of dec</description>
			</parameter>
			<return>
				<description>query URL that can be fetched to execute this query</description>
			</return>
		</method>		
		
		<method name="constructQuerySF">
			<description>Construct a query URL, specifying format, ra_size, dec_size</description>	
			<parameter name="service">
				<description>url of service endpoint, or ivorn of the service description</description>
			</parameter>
			<parameter name="ra">
				<description>right ascension (double)</description>
			</parameter>
			<parameter name="dec">
				<description>declination (double)</description>
			</parameter>
			<parameter name="ra_size">
				<description>size of ra (double)</description>
			</parameter>
			<parameter name="dec_size">
				<description>size of dec</description>
			</parameter>
			<parameter name="format">
				<description>format of images</description>
			</parameter>
			<return>
				<description>query URL that can be fetched to execute this query</description>
			</return>
		</method>						
		
		<method name="addOption">
			<description>Add an option to a query url</description>
			<parameter name="coneQuery">
				<description>the query url</description>
			</parameter>
			<parameter name="optionName">
				<description>the name of the option to add</description>
			</parameter>
			<parameter name="optionValue">
				<description>the value for the new option</description>
			</parameter>
			<return>
				<description>the query url with the new option appended</description>
			</return>
		</method>		
		
		<method name="getResults">
			<description>Execute a cone query</description>
			<property>
			<key>icon</key>
			<value>run_tool.gif</value>
		</property>				
		<property>
			<key>system.ui.menu.entry</key>
			<value>Execute a Cone Search</value>
		</property>			
			<parameter name="coneQuery">
				<description>A query URL</description>
			</parameter>
			<return>
				<description>A votable document</description>
				<property><!-- TODO - later use votable stylesheet for this -->
					<key>system.result.transformer</key>
					<value>org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>				
			</return>
		</method>
		
		<method name="saveResults">
			<description>Execute a cone query and save results</description>
			<property>
			<key>icon</key>
			<value>run_tool.gif</value>
		</property>				
		<property>
			<key>system.ui.menu.entry</key>
			<value>Execute a Cone Search and save results</value>
		</property>			
			<parameter name="coneQuery">
				<description>A query URL</description>
			</parameter>
			<parameter name="saveLocation">
				<description>A ftp://, file:// or ivo:// (mspace) save location</description>
			</parameter>
			<return>
				<description>nothing</description>
			</return>			
		</method>

	
	<method name="getRegistryQuery">
		<description>returns an adql query that will list all cone services</description>
		<return>
			<description>an adql query</description>
		</return>
	</method>			
	</component>	
	
	
	<component name="adql074"
		implementationClass="org.astrogrid.desktop.modules.ivoa.Adql074Impl"
		interfaceClass="org.astrogrid.acr.ivoa.Adql074">
		<description>Translation services for ADQL 074</description>
		<method name="s2x">
						<property>
				<key>system.ui.menu.entry</key>
				<value>translate ADQL/s to ADQL/x</value>								
			</property>				
			<description>translate from ADQL/x to ADQL/s</description>
			<parameter name="adqls">
				<description>query string</description>
			</parameter>	
			<return>
				<description>equivalent ADQL/x document</description>
				<property>
					<key>system.result.transformer</key>
					<value>
						org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>					
			</return>
		</method>
		
		<method name="x2s">
						<property>
				<key>system.ui.menu.entry</key>
				<value>translate ADQL/x to ADQL/s</value>								
			</property>	
			<description>translate from ADQL/s to ADQL/x</description>
			<parameter name="adqlx">
				<description>ADQL/x document</description>
			</parameter>
			<return>
				<description>equivalent query string</description>
			</return>
		</method>		
		
		</component>
		
		
</module>