<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <display-name>Astrogrid JES</display-name>
  <description>
    Astrogrid Job Execution Service
  </description>
  
  <listener>
		<listener-class>org.astrogrid.jes.servlet.LifecycleListener</listener-class>
	</listener>
  
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

 <servlet>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <description>JUnitEE test runner</description>
    <servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
  </servlet>

  <servlet>
          <servlet-name>html-driver</servlet-name>
        <description>HTML interface to the jes system</description>
        <servlet-class>org.astrogrid.jes.servlet.HTMLDriver</servlet-class>
  </servlet>
  
  <servlet>
          <servlet-name>backdoor</servlet-name>
        <description>HTML interface to the jes system</description>
        <servlet-class>org.astrogrid.jes.servlet.BackdoorServlet</servlet-class>
  </servlet>

	<servlet>
		<servlet-name>EnvironmentServlet</servlet-name>
		<display-name>Environment control servlet</display-name>
		<servlet-class>org.astrogrid.common.j2ee.environment.EnvironmentServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EnvironmentServlet</servlet-name>
		<url-pattern>/admin/EnvironmentServlet</url-pattern>
	</servlet-mapping>

 <servlet-mapping>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <url-pattern>/TestServlet/*</url-pattern>
 </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
          <servlet-name>html-driver</servlet-name>
        <url-pattern>/html-driver</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  		<servlet-name>backdoor</servlet-name>
  		<url-pattern>/backdoor</url-pattern>
  	</servlet-mapping>

    <!-- currently the W3C havent settled on a media type for WSDL;
    http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
    for now we go with the basic 'it's XML' response -->
  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	
	<env-entry>
		<description>The service endpoint (i.e. access URL) of a registry in which this JES can look up other resource.</description>
		<env-entry-name>org.astrogrid.registry.query.endpoint</env-entry-name>
		<env-entry-value>http://galahad.star.le.ac.uk:8080/galahad-registry/services/RegistryQuery</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The endpoint (i.e. access URL) of the job-monitor service in this web application. Replace localhost, 8080 and astrogrid-jes with the appropriate values.</description>
		<env-entry-name>jes.monitor.endpoint.url</env-entry-name>
		<env-entry-value>http://localhost:8080/astrogrid-jes/services/JobMonitorService</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

	<env-entry>
		<description>The endpoint (i.e. access URL) of the results-listener service in this web application. Replace localhost, 8080 and astrogrid-jes with the appropriate values.</description>
		<env-entry-name>jes.monitor.endpoint.url</env-entry-name>
		<env-entry-value>http://localhost:8080/astrogrid-jes/services/ResultListener</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The path (not URL) to a directory where JES may write records of its jobs.</description>
		<env-entry-name>jes.jobfactory.file.basedir</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The location method for external services. Don't change this entry.</description>
		<env-entry-name>jes.locator</env-entry-name>
		<env-entry-value>registry</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The kind of storage to use for job records. Don't change this entry.</description>
		<env-entry-name>jes.store</env-entry-name>
		<env-entry-value>file</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
</web-app>