document    {
	background-color: #EEEEEE;
}

properties, head    {
	background-color: #FFFFDD;
}


author:after    {
	content: " <" attr(email) ">";
	color: gray;
	font-size: smaller;
}

author:before    {
	content: "Author: ";
	font-style: italic;
}


title:before    {
	content: "Title: ";
	font-style: italic;
}


body    {
	display:block;
	background-color: white;
	margin-left: 5pt;
	font-family: serif;
	font-size:medium;
}


section:before, subsection:before    {
	content: attr(name);
	font-size: large;
	font-weight: bold;
	color: teal;
}


section:before    {
	font-size: larger;
	font-weight: bolder;
}

hr {
  margin-left:30px;
  margin-right:30px;
  display:block;
  border-bottom: 3px solid black;
  }


img    {
	border-width: 1;
	border-style: dashed;
}

img:after    {
	content: " <IMG " attr(src) ">";
	color: gray;
	font-size: smaller;
}

a {
  color:blue;
  text-decoration:underline;
}
a:after    {
	content: " <" attr(href) ">";
	color: gray;
	font-size: smaller;
}

pre    {
	display: block;
}

address {
	display:block;
	font-style:italic;
	}
	



meta    {
	display: block;
}

ul    {
	list-style-type: disc;
	display: block;
	margin-left: 15pt;
}



tt    {
	display: inline;
	font-family: monospace;
}

li    {
	display: list-item;
	margin-left: 0pt;
}

ol    {
	list-style-type: decimal;
	display: block;
	margin-left: 15pt;
}

dl {
	display:block;
	margin-left:10px;
}

dt {
   display:list-item;
   margin-left:30px;
}

dd {
  font-weight:bold;
  display:list-item;
}

tr    {
	display: table-row;
}

th    {
	display: table-cell;
	text-align: center;
	font-weight: bold;
	background-color: navy;
	color: white;
}

td    {
	display: table-cell;
	border-width: 1pt;
	padding: 2pt;
	margin: 2pt;
}

tbody    {
	display: table-row-group;
}

table    {
	display: table;
	text-align: right;
	font-weight: bold;
	color: navy;
	background-color: rgb(191, 216, 228);
	border-color: black;
	border-style: solid;
	border-width: thin thin thin thin;
}



sup    {
	vertical-align: super;
}

sub    {
	vertical-align: sub;
}




b    {
	font-weight: bold;
}
big {
   font-size:larger;
   }
small {
  font-size:smaller;
  }
  


*[align="center"]    {
	text-align: center;
}

*[align="right"]    {
	text-align: right;
	vertical-align: 0pt;
}

*[align="left"]    {
	text-align: left;
}



br:before    {
	content: "\A";
	display: block;
}

blockquote    {
	display: block;
	margin-left: 20pt;
	margin-right: 20pt;
	margin-top: 0pt;
}


p    {
	margin-left: 0pt;
	margin-right: 0pt;
	margin-bottom: 8pt;
	margin-top: 8pt;
}

p    {
	display: block;
}



i  {
	font-style: italic;
}



source    {
	font-family: "monospace";
	white-space: pre;
}

author, title, properties    {
	margin-left: 10pt;
}

section, subsection, source, author, title, properties   {
	display: block;
}


\$processing-instruction    {
	color: rgb(255, 0, 0);
	margin: 5pt;
}

\$comment:after    {
	content: "-->";
}

\$comment:before    {
	content: "<!--";
}

\$comment    {
	color: rgb(0, 0, 128);
	margin: 5pt;
}

*    {
	display: inline;
	text-decoration:inherit;
	white-space: normal;
}

