<?xml version="1.0" ?>
<!--can't dtd validate - need to replace with schema later.
	<!DOCTYPE module PUBLIC "-//Astrogrid//DTD Desktop Module 1.0//EN" "file:///home/noel/eclipse/desktop/src/java/org/astrogrid/desktop/framework/descriptors/module-descriptor.dtd">
	
	small problem - points to release scripts, not beta scripts. oh well.
-->
<module name="scripting">
	<description>Resources for Scripting the ACR</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<link text="Download a zip of Python Scripts that connect to the workbench"
					icon="source_py.png"
					toolTipText="A collection of commandline scripts - useful in their own right, and examples of python scripting of the workbench"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/python-scripts.zip"/>
				<link text="Example perl scripts to connect to workbench"
					icon="source_pl.png"
					toolTipText="Perl scripts that show how to connect to workbench. For details of functionality, see python examples."
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/perl-scripts.zip"/>				
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>script_obj.gif</value>
	</property>			
</module>