body {
  color: #333;
  background: white;
  margin-left: +30%;
  margin-right: +5%;
}

a:link { color: #669; }
a:visited { color: #966; }
a[href]:hover {
  background: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Optima, "Gill Sans", gill, sans-serif;
  color: black;
  font-weight: 500;
}
h1 {
  margin-left: -40%;
  margin-right: -5%;
  padding: 0.5em;
  border: solid #C66;
  text-align: right;
}
h2 {
  margin-left: -40%;
  margin-right: -5%;
  padding: 0.2em;
  border-top: solid #C66;
}
h3 {
  color: #C66;
  margin-left: -30%;
  float: left;
  width: 25%;
  display: block;
  text-align: right;
  vertical-align: bottom;
  padding-top: 0pt;
  padding-right: 0.5em;
  margin-top: 0pt;
}

pre {
  background: #DDE;
  padding: 1em;
}

table {
  background: #DDE;
  font-size: smaller;
}
td {
  padding: 0.5ex;
}

div.trailer {
  margin-left: -40%;
  margin-right: -5%;
  text-align: right;
  border: solid #C66;
  padding: 0.3em;
}
