<?xml version="1.0" ?>

<module name="ACR">
	<description>Scripting and programming with the ACR</description>
		<property>
			<key>system.ui.menu.links</key>			
			<value>		

				<helpLink text="Astro Client Runtime -  Documentation" id="overview"
					tooltipText="Concepts,  lists available functions, gives examples of their use"/>
					
				<link text="Download ACR for Java"
					icon="source_java.png"
					tooltipText="Call ACR from java using JavaRMI"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/acr-interface.tar.gz" />		
				
				<link text="Download ACR examples for Python"
					icon="source_py.png"
					toolTipText="A collection of scripts that call VO Services through the ACR - useful in their own right and as examples"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/python-scripts.zip"/>
				<link text="Download ACR examples for Perl"
					icon="source_pl.png"
					toolTipText="Perl scripts that show how to connect to ACR"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/perl-scripts.zip"/>				
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>script_obj.gif</value>
	</property>	
	<property>
		<key>priority</key>
		<value>40</value>
	</property>				
</module>