<?xml version="1.0" ?>

<module name="ACR">
	<description>Scripting and programming with the ACR</description>
		<property>
			<key>system.ui.menu.links</key>			
			<value>		
				<helpLink text="ACR Introduction" id="acr"
					tooltipText="Defintion of the  Astronomy Client Runtime (ACR), how to connect to it, and the operations it provides"
					/>
				<helpLink text="ACR Reference" id="overview"
					tooltipText="API documentation - lists available methods, gives examples of their use"/>
					
				<link text="Download ACR Library and Documentation"
					icon="source_java.png"
					tooltipText="Call ACR from java using JavaRMI"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/acr-interface.tar.gz" />		
				
				<link text="ACR Commandline Utilities in Python"
					icon="source_py.png"
					toolTipText="A collection of scripts that call VO Services through the ACR - useful in their own right and as examples"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/python-scripts.zip"/>
				<link text="ACR Examples in Perl"
					icon="source_pl.png"
					toolTipText="Perl scripts that show how to connect to ACR"
					url="http://software.astrogrid.org/jnlp/astrogrid-desktop/perl-scripts.zip"/>				
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>script_obj.gif</value>
	</property>	
	<property>
		<key>priority</key>
		<value>40</value>
	</property>				
</module>