<?xml version="1.0" ?>
<!--+
    | <cvs:source>$Source: /Users/pharriso/Work/ag/repo/git/astrogrid-mirror/astrogrid/portalB/src/config/Attic/config.xml,v $</cvs:source>
    | <cvs:author>$Author: KevinBenson $</cvs:author>
    | <cvs:date>$Date: 2003/09/15 06:42:28 $</cvs:date>
    | <cvs:version>$Revision: 1.1 $</cvs:version>
    | <cvs:log>
    |   $Log: config.xml,v $
    |   Revision 1.1  2003/09/15 06:42:28  KevinBenson
    |   *** empty log message ***
    |
    |   Revision 1.1  2003/09/14 21:19:43  KevinBenson
    |   *** empty log message ***
    |
    |   Revision 1.1  2003/09/13 02:18:52  dave
    |   Extended the jConfig configuration code.
    |
    | </cvs:log>
    |
    +-->
<properties>
   <category name="org.astrogrid.community">
       <property name="community.name" value="localhost" />
       <property name="portal.security" value="on" />
       <property name="portal.secure.port" value="8443" />
       <property name="portal.nonsecure.port" value="8080" />       
       <property name="astrogrid.admin" value="Kevin Benson" />
       <property name="astrogrid.adminEmail" value="kmb@mssl.ucl.ac.uk" />
   </category>
</properties>