<?xml version='1.0' encoding='utf-8'?>
<!-- tomcat-5 specific deployment descriptor - can be used to configure environment, loggers, etc -->
<Context path="/astrogrid-jes-SNAPSHOT">
   <Environment name="org.astrogrid.config.url" override="false" type="java.lang.String"
           value="@CONFIGPATH@/AstroGridConfig.properties"/>
</Context>