<html>
	<body>
		<h1>Component Assembly and Management</h1>
		This package contains the framework that assembles the different components of cea into a cea server.
		Depending on the components used, and the way they are confgured, different kinds of server can be produced, 
		while still reusing large amounts of code.
		<p />
		The core class is {@link CEAComponentContainer} - which is configured via spring. 
		The instantiated class must implement the {@link CEAComponents} interface.
		<p />
		This package extends classes in the {@link org.astrogrid.component} package (in <tt>common</tt> project), where the concepts of the component manager are documented more fully.
		
		
	</body>
</html>