<Context path="@CEA_WEBAPP@">

    <Environment name="cea.base.dir" 
                 override="false" 
                 type="java.lang.String" 
                 value="@CEA_WORKING@" />
                 
    <Environment name="org.astrogrid.registry.admin.endpoint" 
                 description="registry update service endpoint URL"  
                 override="false" type="java.lang.String" 
                 value="@REG_UPDATE@" />
                 
    <Environment name="org.astrogrid.registry.query.endpoint" 
                 description="registry query service endpoint URL"  
                 override="false" 
                 type="java.lang.String" 
                 value="@REG_QUERY@" />
                 
    <Environment name="cea.service.endpoint.url"  
                 override="false"
                 type="java.lang.String" 
                 value="@CEA_SERVICE_URL@" 
                 description="web-application URL as seen by outside world"/>
                 
    <Environment name="cea.application.authorityid"  
                 override="false"
                 description="The authority ID under which applications will be registered"
                 type="java.lang.String" 
                 value="@REGAUTHORITY@"/>
        

</Context>