<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee                          http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
      
  <display-name>CEA server for command-line applications</display-name>
 
    <servlet>
    <display-name>Apache-Axis</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>
  
  <servlet>
    <display-name>JUnitEE test runner</display-name>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
  </servlet>

	
  <!-- a small servlet that will invoke the CommonExecutionController to make sure that it registers itself on statup -->
  <servlet>
      <servlet-name>CommonExecutionControllerInitializer</servlet-name>
      <servlet-class>org.astrogrid.applications.component.InitServlet</servlet-class>
      <load-on-startup>200</load-on-startup>	
  </servlet>

  <servlet>
    <servlet-name>VosiServlet</servlet-name>
    <servlet-class>org.astrogrid.applications.vosi.VosiServlet</servlet-class>
  </servlet>
  
    <servlet>
        <servlet-name>AbortionServlet</servlet-name>
        <servlet-class>org.astrogrid.applications.commandline.AbortionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>CommonExecutionControllerInitializer</servlet-name>
    <url-pattern>/cec-http</url-pattern>
  </servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <url-pattern>/TestServlet/*</url-pattern>
  </servlet-mapping><servlet-mapping>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <url-pattern>/TestServlet/*</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/capabilities</url-pattern>
    <load-on-startup>500</load-on-startup>
  </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>VosiServlet</servlet-name>
        <url-pattern>/VOSI/availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbortionServlet</servlet-name>
        <url-pattern>/abort</url-pattern>
    </servlet-mapping>
    <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jws</welcome-file>
  </welcome-file-list>
	
	<env-entry>
		<description>The full path to a directory where the CEC may build its configuration structure.</description>
		<env-entry-name>cea.base.dir</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The URL for this web-application; e.g. http://x.y.z:8080/astrogrid-cea-server.</description>
		<env-entry-name>cea.webapp.url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The web-service URL for querying the reference resource-registry.</description>
		<env-entry-name>org.astrogrid.registry.query.endpoint</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://galahad.star.le.ac.uk:8080/astrogrid-registry/services/RegistryQuery</env-entry-value>
	</env-entry>
	
	<env-entry>
		<description>The web-service URL for the publishing resource-registry.</description>
		<env-entry-name>org.astrogrid.registry.admin.endpoint</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/astrogrid-registry/services/RegistryUpdate</env-entry-value>
	</env-entry>
 
	<env-entry>
		<description>Class name of the component manager implementation to use.</description>
		<env-entry-name>cea.component.manager.class</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>org.astrogrid.applications.commandline.CommandLineCEAComponentManager</env-entry-value>
	</env-entry>
        
        <env-entry>
          <description>Maximum number of jobs that may run at the same time.</description>
          <env-entry-name>cea.parallel.execution.limit</env-entry-name>
          <env-entry-type>java.lang.String</env-entry-type>
          <env-entry-value>5</env-entry-value>
        </env-entry>
        
        <env-entry>
          <description>Greatest duration before a job is aborted, in milliseconds.</description>
          <env-entry-name>cea.run.time.limit</env-entry-name>
          <env-entry-type>java.lang.String</env-entry-type>
          <env-entry-value>86400000</env-entry-value>
        </env-entry>
        
        <env-entry>
          <description>Class-name of the access-policy plug-in for controlling requests to this service. Use the default value if you don't want to restrict access.</description>
          <env-entry-name>cea.access.policy</env-entry-name>
          <env-entry-type>java.lang.String</env-entry-type>
          <env-entry-value>org.astrogrid.security.authorization.OpenAccessPolicy</env-entry-value>
        </env-entry>
        
        <env-entry>
          <description>Whether HTTP 'chunking' is used when sending data to AstroGrid MySpace: set to 'enabled' or 'disabled'. 'Chunking' reduces the memory load on this service.</description>
          <env-entry-name>org.astrogrid.filestore.chunked.send</env-entry-name>
          <env-entry-type>java.lang.String</env-entry-type>
          <env-entry-value>enabled</env-entry-value>
        </env-entry></web-app>
