#myspace-tools
{
  /*
    Alignment.
    */
  text-align:                     center;
  
  /*
    Borders.
    */
  border-style:                   solid;
  border-width:                   2px;
  
  /*
    Colors.
    */
  background-color:               lightblue;
  
  /*
    Dimensions.
    */
  width:                          20%;
  
  /*
    Margins and Padding.
    */
/*
  padding-left:                   10px;
*/
  
  /*
    Positioning.
    */
  float:                          right;
}

#myspace-tools-header
{
  /*
    Colors.
    */
  background-color:               blue;
  color:                          lightblue;

  /*
    Dimensions.
    */
  width:                          100%;
}

.myspace-hidden
{
  /*
    Dimensions.
    */
  width:                          0;

  /*
    Visibility.
    */
  visibility:                     hidden;
}

hr.agbar
{
  /*
    Colors.
    */
  background-color:               lightblue;
  color:                          blue;

  /*
    Dimensions.
    */
  height:                         10px;
  width:                          100%;
}

span.document
{
  background-color:               white;
  color:                          blue;
}

span.document-highlight
{
  background-color:               yellow;
  color:                          blue;
}

span.folder
{
  background-color:               white;
  color:                          blue;
}

span.folder-highlight
{
  background-color:               lightblue;
  color:                          blue;
}

