<?xml version="1.0" ?>

<module name="userInterface">
	<description>Small applications for working with AstroGrid</description>
	<property>
		<key>system.ui.menu.links</key>
		<value>
						<link text="AstroGrid v1.1 Release"
				icon="logo1.gif"
				toolTipText="AstroGrid Release Documentation"
				url="http://software.astrogrid.org" />
				<helpLink id="top" />
		</value>
		</property>		
	<property>
		<key>icon</key>
		<value>swtapp_obj.gif</value>
	</property>	
	<property>
		<key>priority</key>
		<value>5</value>
	</property>		
	<!-- todo - make each module a new namespace, so can have identically named components
		at moment, fails in nasty ways
		-->		
	<component name="parameterizedWorkflows" 
		implementationClass="org.astrogrid.desktop.modules.ui.ParameterizedWorkflowLauncherImpl" 
		interfaceClass="org.astrogrid.acr.ui.ParameterizedWorkflowLauncher" >
		<description>Launch parameterized workflows</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.parameterizedWorkflows" />							
			</value>
		</property>
		<property>
			<key>icon</key>
			<value>exec.png</value>
		</property>				
		<method name="run">
			<description>Run the Parameterized Worflow Launcher</description>
			<property>
				<key>icon</key>
				<value>run_tool.gif</value>
			</property>					
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run...</value>
			</property>					
		</method>
	</component>
	
	<component name="registryBrowser" 
		implementationClass="org.astrogrid.desktop.modules.ui.RegistryBrowserImpl" 
		interfaceClass="org.astrogrid.acr.ui.RegistryBrowser" >
		<description>View registry entries using a basic browser</description>
	<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.registryBrowser"	/>				
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>java_lib_obj.gif</value>
	</property>			
		<method name="show">
			<description>Run the Browser GUI </description>
	<property>
		<key>icon</key>
		<value>run_tool.gif</value>
	</property>				
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run...</value>
			</property>			
		
		</method>
		<method name="hide">
			<description>Hide the Browser GUI </description>

		</method>		
		</component>
		
	<component name="myspaceBrowser" 
		implementationClass="org.astrogrid.desktop.modules.ui.VospaceBrowserImpl" 
		interfaceClass="org.astrogrid.acr.ui.MyspaceBrowser" >
		<description>Work with your files in MySpace</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.myspaceBrowser" />							
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>filenav_nav.gif</value>
	</property>			
		<method name="show">
			<description>Run the Browser GUI </description>
	<property>
		<key>icon</key>
		<value>run_tool.gif</value>
	</property>				
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run...</value>
			</property>			
		
		</method>
		<!-- not implemented 
		<method name="open">
			<description>Display a vospace location in the Browser </description>
	<property>
		<key>icon</key>
		<value>run_tool.gif</value>
	</property>				
			<property>
				<key>system.ui.menu.entry</key>
				<value>Open Location...</value>
			</property>			
			</method>
			-->
		<method name="hide">
			<description>Hide the Browser GUI </description>

		</method>		
		</component>	

	<component name="applicationLauncher" 
		implementationClass="org.astrogrid.desktop.modules.ui.ApplicationLauncherImpl" 
		interfaceClass="org.astrogrid.acr.ui.ApplicationLauncher" >
		<description>Launch CEA Applications</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.applicationLauncher" />									
			</value>
		</property>			
		<property>
			<key>icon</key>
			<value>thread_view.gif</value>
		</property>				
		<method name="show">
			<description>Run the Launcher GUI </description>
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run..</value>
				<property>
					<key>icon</key>
					<value>run_tool.gif</value>
				</property>					
			</property>
		</method>
		<method name="hide">
			<description>Hide the Monitor GUI </description>
		</method>
	</component>	


	<component name="datascopeLauncher" 
		implementationClass="org.astrogrid.desktop.modules.ui.DataScopeLauncherImpl" 
		interfaceClass="org.astrogrid.acr.ui.DataScopeLauncher" >
		<description>Launch DataScope</description>	
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.datascopeLauncher" />									
			</value>
		</property>			
		<property>
			<key>icon</key>
			<value>thread_view.gif</value><!-- use nvo icon here -->
		</property>				
		<method name="show">
			<description>Run the Launcher</description>
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run..</value>
				<property>
					<key>icon</key>
					<value>run_tool.gif</value>
				</property>					
			</property>
		</method>
		<!-- needed?? -->
		<method name="hide">
			<description>Hide the Monitor GUI </description>
		</method>
	</component>	

		
	<component name="jobMonitor" 
		implementationClass="org.astrogrid.desktop.modules.ui.JobMonitorImpl" 
		interfaceClass="org.astrogrid.acr.ui.JobMonitor" >
		<description>View progress of jobs and applications</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.jobMonitor" />									
			</value>
		</property>		
	<property>
		<key>icon</key>
		<value>thread_and_monitor_view.gif</value>
	</property>		
	  <method name="displayApplicationTab">
			<descripiption>bring the application tab uppermost</descripiption>
		</method>
		<method name="displayJesTab">
			<description>bring the jes tab uppermost</description>
		</method>		
		<method name="addApplication">
			<description>Provide the execution id of a running CEA application to add it to the job monitor</description>
			<property>
				<key>system.ui.menu.entry</key>
				<value>Add a running application to the monitor</value>			
			</property>			
			<property>
		<key>icon</key>
		<value>add_obj.gif</value>
	</property>			
			<parameter name="name"><description>Descriptive name of the application</description></parameter>
			<parameter name="executionId"><description>ExecutionID for this application</description></parameter>		
			</method>
		<method name="show">
			<description>Run the Monitor GUI </description>
			<property>
				<key>system.ui.menu.entry</key>
				<value>Run..</value>			
			</property>			
			<property>
		<key>icon</key>
		<value>run_tool.gif</value>
	</property>		
		</method>
		<method name="hide">
			<description>Hide the Monitor GUI </description>

		</method>		
		<method name="refresh">
			<description>Refresh the job list </description>

		</method>			
		</component>
		
	<component name="workflowBuilder" 
	  implementationClass="org.astrogrid.desktop.modules.ui.WorkflowBuilderImpl" 
	  interfaceClass="org.astrogrid.acr.ui.WorkflowBuilder" >
	  <description>Build workflows (BETA)</description>
		<property>
			<key>system.ui.menu.links</key>
			<value>		
				<helpLink id="userInterface.workflowBuilder" />									
			</value>
		</property>	  
	    <property>
		  <key>icon</key>
		  <value>wf_small.gif</value>
		</property>				
		<method name="show">
		  <description>Run the Workflow builder GUI </description>
		  <property>
			<key>system.ui.menu.entry</key>
			<value>Run Builder..</value>
		    <property>
			  <key>icon</key>
			  <value>run_tool.gif</value>
		    </property>					
		  </property>					
	    </method>			
      </component>		
</module>