maven.log
velocity.log
target
server-config.wsdd
tests.log
workflow-output-*.xml
db-job-factory-test.properties
db-job-factory-test.script
.DS_Store
.classpath
build
CEAResultsListener-deploy.wsdd
junit*.properties
JobMonitor-deploy.wsdd
.project
JobController-deploy.wsdd
jestest.log
