target
maven.log
build
tests.log
velocity.log
.project
jestest.log
.classpath
junit*.properties
workflow-output-*.xml
CEAResultsListener-deploy.wsdd
db-job-factory-test.properties
db-job-factory-test.script
JobController-deploy.wsdd
JobMonitor-deploy.wsdd
server-config.wsdd
