<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>OpenJMS HTTP connector</display-name>

    <servlet>
        <servlet-name>OpenJMSServer</servlet-name>
        <servlet-class>org.exolab.jms.server.http.servlet.HttpJmsServerServlet</servlet-class>
         <init-param>
            <param-name>org.exolab.jms.jndi.host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>org.exolab.jms.jndi.port</param-name>
            <param-value>3030</param-value>
         </init-param>  
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>OpenJMSClient</servlet-name>
        <servlet-class>org.exolab.jms.client.http.servlet.HttpJmsClientServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
  
    <servlet>
        <servlet-name>OpenJMSJndi</servlet-name>
        <servlet-class>org.exolab.jms.jndi.http.servlet.HttpJmsJndiServlet</servlet-class>
        <init-param>
            <param-name>org.exolab.jms.jndi.host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>org.exolab.jms.jndi.port</param-name>
            <param-value>3035</param-value>
         </init-param> 
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenJMSJndi</servlet-name>
        <url-pattern>/OpenJMSJndi</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>OpenJMSServer</servlet-name>
        <url-pattern>/OpenJMSServer</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>OpenJMSClient</servlet-name>
        <url-pattern>/OpenJMSClient</url-pattern>
    </servlet-mapping>

</web-app>
