<Context path="/@FILEMANAGER_WEBAPP@">
    <Environment
        name="org.astrogrid.config.url"
        override="false" type="java.lang.String"
        value="@CONFIGPATH@/AstroGridConfig.properties"/>
    <Environment
        name="org.astrogrid.filemanager.service.name"
        override="false" type="java.lang.String"
        value="@FILEMANAGER_NAME@"/>

 <Environment
        name="org.astrogrid.registry.result.version"
        override="false" type="java.lang.String"
        value="0.9"/>

</Context>