<?xml version="1.0" ?>
<!--can't dtd validate - need to replace with schema later.
	<!DOCTYPE module PUBLIC "-//Astrogrid//DTD Desktop Module 1.0//EN" "file:///home/noel/eclipse/desktop/src/java/org/astrogrid/desktop/framework/descriptors/module-descriptor.dtd">
-->
<module name="system">
	<description>System Components</description>
	<property>
		 <key>system.webserver</key>
		 <value>
			<servlet name="xmlrpc" path="/xmlrpc" class="org.astrogrid.desktop.modules.system.XmlRpcServlet" />
			<servlet name="html" path="/*" class="org.astrogrid.desktop.modules.system.HtmlServlet"/>	
		</value>		
		</property>	
	<property>
		<key>icon</key>
		<value>gear.png</value>
	</property>			
	<property>
		<key>priority</key>
		<value>100</value>
	</property>	
	<component name="help" 
		implementationClass="org.astrogrid.desktop.modules.system.HelpServerImpl"
		interfaceClass="org.astrogrid.acr.system.HelpServer">
		<description>Display application help</description>
		<method name="showHelp">
							<return>
					<description>nothing</description>
				</return>
		</method>
		<method name="showHelpForTarget">
							<return>
					<description>nothing</description>
				</return>
				<parameter name="target">
					<description>target in helpset to display</description>
				</parameter>				
		</method>
		<method name="showHelpFromFocus">
							<return>
					<description>nothing</description>
				</return>
		</method>
	</component>
	<component name="browser" 
		implementationClass="org.astrogrid.desktop.modules.system.WebstartBrowserControl"
		interfaceClass="org.astrogrid.acr.system.BrowserControl"		
		>
		<description>Control the default webbrowser</description>
		
		<method name="openURL">
				<description>open a URL in the system webbrowser</description>
				<return>
					<description>nothing</description>
				</return>
				<parameter name="url">
					<description>url of the page to display</description>
				</parameter>
		</method>	
		<method name="openRelative">
			<description>open a relative url in the system webbrowser</description>
				<return>
					<description>nothing</description>
				</return>	
				<parameter name="url">
					<description>relative URL of the page to display (relative to webserver context)</description>
				</parameter>						
		</method>
	</component>
	
	<component name="configuration"
		implementationClass="org.astrogrid.desktop.modules.system.JavaPrefsConfiguration"
		interfaceClass="org.astrogrid.acr.system.Configuration"
		>
		<description>manages connection settings and configuration</description>
	<property>
		<key>icon</key>
		<value>properties.gif</value>
	</property>		
		<method name="list">
			<description>list configuration entries</description>
			<return><description>set of key-value pairs</description></return>
	<property>
		<key>icon</key>
		<value>flatLayout.gif</value>
	</property>					
			<property>
				<key>system.ui.menu.entry</key>
				<value>Show Settings</value>
			</property>					
		</method>
		<method name="listKeys">
			<description>list configuration keys</description>
	<property>
		<key>icon</key>
		<value>flatLayout.gif</value>
	</property>							
		</method>
		<method name="setKey">
			<description>set a configuration key</description>
	<property>
		<key>icon</key>
		<value>editorpane_obj.gif</value>
	</property>					
			<property>
				<key>system.ui.menu.entry</key>
				<value>Change a setting</value>
			</property>				
			<return><description>success code</description>
				<property>
						<key>system.xmlrpc.type</key>
						<value>boolean</value>
					</property>
				</return>
			<parameter name="key"><description>key to set</description></parameter>
			<parameter name="value"><description>value to set to </description></parameter>
		</method>
		<method name="getKey">
			<description>get a value for a configuration key</description>
	<property>
		<key>icon</key>
		<value>info_obj.gif</value>
	</property>					
			<return><description>key value</description></return>
			<parameter name="key"><description>key to retreive value for</description></parameter>
		</method>
	</component>
	
	<component name="ui"
		implementationClass="org.astrogrid.desktop.modules.system.UIImpl"
		interfaceClass="org.astrogrid.acr.system.UI"
		>
		<description>Graphical User Interface</description>
	<property>
		<key>icon</key>
		<value>view_detailed.png</value>
	</property>				
		<method name="show">
			<description>Show the user interface</description>			
		</method>
		<method name="hide">
			<description>Hide the user interface</description>
	<property>
		<key>icon</key>
		<value>delete_obj.gif</value>
	</property>						
		</method>

	</component>
	
	<component name="webserver"
		implementationClass="org.astrogrid.desktop.modules.system.JettyWebServer"
		interfaceClass="org.astrogrid.acr.system.WebServer"
		>
			<description>desktop web server - register servlets with it via module parameter keys</description>
	<property>
		<key>icon</key>
		<value>server.png</value>
	</property>					
			<method name="getUrlRoot">
				<description>get url root of the webserver context</description>
	<property>
		<key>icon</key>
		<value>info_obj.gif</value>
	</property>						
				<property>
				<key>system.ui.menu.entry</key>
				<value>Show Server Root</value>
			</property>
			</method>
	</component>
	
	<component name="systray"		
		interfaceClass="org.astrogrid.acr.system.SystemTray"
		>
		<property>
			<key>implementations</key>
			<value>
				<implementation 
					checkClass="org.astrogrid.desktop.modules.system.CheckJDICSystemTrayPresent"
					implementationClass="org.astrogrid.desktop.modules.system.JDICSystemTray" />
			</value>
		</property>
		<description>System Tray Icon - only available on some platforms</description>
	   <method name="displayErrorMessage">
		  <description>Display an error message in the system tray</description>
			<return><description>nothing</description></return>
			<parameter name="caption"><description>caption for message</description></parameter>
			<parameter name="message"><description>text of message</description></parameter>		
	  </method>
	   <method name="displayInfoMessage">
		  <description>Display an information message in the system tray</description>
			<return><description>nothing</description></return>
			<parameter name="caption"><description>caption for message</description></parameter>
			<parameter name="message"><description>text of message</description></parameter>		
	  </method>
	   <method name="displayWarningMessage">
		  <description>Display an warning message in the system tray</description>
			<return><description>nothing</description></return>
			<parameter name="caption"><description>caption for message</description></parameter>
			<parameter name="message"><description>text of message</description></parameter>		
	  </method>	  	  
	</component>
	
	<!-- interceptor class -->
	<component name="throbber"
		implementationClass="org.astrogrid.desktop.modules.system.ThrobbingInterceptor"
		interfaceClass="org.aopalliance.intercept.MethodInterceptor" >
			<property>
				<key>hidden.component</key>
				<value>true</value>								
			</property>						
	</component>
		

</module>