<?xml version="1.0" ?>

<module name="dialogs">
	<description>Reusable UI Dialogues</description>
		<property>
		<key>icon</key>
		<value>samplered_obj.gif</value>
	</property>
	<component name="resourceChooser" 
		implementationClass="org.astrogrid.desktop.modules.dialogs.ResourceChooserImpl"
		interfaceClass="org.astrogrid.acr.dialogs.ResourceChooser">
		<description>Prompt the user to choose a file resource</description>
		<method name="chooseResource">
			<description>prompt the user to choose a resource </description>
				<parameter name="title">
						<description>Title to use in dialog</description>
				</parameter>
				<parameter name="enableMyspaceTab">
					<description>whether myspace tab should be visible or not</description>
				<property>
					<key>system.xmlrpc.type</key>
					<value>boolean</value>
				</property>
				</parameter>					
		
		</method>
		<method name="fullChooseResource">
			<description>prompt the user to choose a resource, using fully configurable dialog. </description>
				<parameter name="title">
						<description>Title to use in dialog</description>
				</parameter>
				<parameter name="enableMyspaceTab">
					<description>whether myspace tab should be visible or not</description>
				<property>
					<key>system.xmlrpc.type</key>
					<value>boolean</value>
				</property>
				</parameter>					
				<parameter name="enableLocalFileTab">
					<description>whether local files tab should be visible or not</description>
				<property>
					<key>system.xmlrpc.type</key>
					<value>boolean</value>
				</property>
				</parameter>
				<parameter name="enableURITab">
					<description>whether arbitrary URL entry tab should be visible or not</description>
				<property>
					<key>system.xmlrpc.type</key>
					<value>boolean</value>
				</property>
				</parameter>						
		</method>		
		</component>
<component name="toolEditor" 
		implementationClass="org.astrogrid.desktop.modules.dialogs.ToolEditorImpl"
		interfaceClass="org.astrogrid.acr.dialogs.ToolEditor">
		<description>Display a graphical editor for a CEA tool call document</description>
		<method name="editTool">
			<description>display editor</description>
				<parameter name="tool">
						<description>Document to display in editor</description>
				</parameter>
		<return>
			<description>An edited copy of this document</description>
			</return>		
		
		</method>
		</component>		
		
		<component name="registryChooser"
			implementationClass="org.astrogrid.desktop.modules.dialogs.RegistryChooserImpl"
			interfaceClass="org.astrogrid.acr.dialogs.RegistryChooser">
			>
			<description>prompt the user to select resources from the registry</description>
		<method name="chooseResource">
						<property>
				<key>system.ui.menu.entry</key>
				<value>test chooseResource()</value>
			</property>
			<description>prompt the user to select a resource</description>
		<parameter name="prompt"><description>message to prompt user with</description></parameter>
		<return>
				<property>
					<key>system.xmlrpc.type</key>
					<value>struct</value>
				</property>				
			<description>bean describing the selected resource</description>
		</return>		
		</method>
		
		<method name="chooseResources">
						<property>
				<key>system.ui.menu.entry</key>
				<value>test chooseResources()</value>
			</property>
			<description>prompt the user to select resources</description>			
			<parameter name="prompt"><description>message to prompt user with</description></parameter>
		<return>
					<property>
					 <key>system.xmlrpc.type</key>
				 	 <value>array</value>
				</property>
			<description>array of beans describing the selected resources</description>
		</return>	
		</method>
		
		<method name="chooseResourceWithFilter">
						<property>
				<key>system.ui.menu.entry</key>
				<value>test chooseResourceWithFilter()</value>
			</property>
			<description>prompt the user to select a resource</description>			
		<parameter name="prompt"><description>message to prompt user with</description></parameter>
	<parameter name="filter"><description>clause to filter results on </description></parameter>
		
		<return>
				<property>
					<key>system.xmlrpc.type</key>
					<value>struct</value>
				</property>				
			<description>bean describing the selected resource</description>
		</return>			
			</method>
		
		<method name="chooseResourcesWithFilter">
						<property>
				<key>system.ui.menu.entry</key>
				<value>test chooseResourcesWithFilter()</value>
			</property>			
			<description>prompt the user to select resources</description>			
		<parameter name="prompt"><description>message to prompt user with</description></parameter>
		<parameter name="filter"><description>clause to filter results on </description></parameter>
			<return>
				<property>
					<key>system.xmlrpc.type</key>
					<value>array</value>
				</property>				
			<description>array of beans describing the selected resources</description>
		</return>	
		</method>
		</component>
		
		<component name="queryEditor"
			implementationClass="org.astrogrid.desktop.modules.dialogs.QueryEditorImpl"
			interfaceClass="org.astrogrid.acr.dialogs.QueryEditor"
			>
			<description>Build or Edit queries for datacenters</description>
			<method name="edit">
			<property>
				<key>system.ui.menu.entry</key>
				<value>test edit()</value>								
			</property>					
				<description>edit an existing query tool document</description>
				<parameter name="tool">
					<description>Document to display in editor</description>
				</parameter>
				<return>
				<property>
					<key>system.result.transformer</key>
					<value>
						org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>									
					<description>an edited copy of this document</description>
				</return>
				</method>
		<method name="editStored">
			<property>
				<key>system.ui.menu.entry</key>
				<value>test editStored()</value>								
			</property>					
				<description>edit an existing query tool document (stored elsewhere)</description>
				<parameter name="toolLocation">
					<description>URI location of the tool document to edit (http://, ftp://, file://, ivo://)</description>
				</parameter>
				<return>
				<property>
					<key>system.result.transformer</key>
					<value>
						org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>									
					<description>an edited copy of this document</description>
				</return>
				</method>				
			<method name="selectAndBuild">
			<property>
				<key>system.ui.menu.entry</key>
				<value>test selectAndBuild()</value>								
			</property>					
				<description>prompt the user to create a new query tool documen</description>
				<return>
				<property>
					<key>system.result.transformer</key>
					<value>
						org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>				
					
					<description>the new query tool document</description>
				</return>
				</method>				
		</component>
</module>