<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>AstroGrid Community</display-name>
  
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <description>Runs the SOAP services.</description>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VosiServlet</servlet-name>
    <display-name>VOSI</display-name>
    <description>Provides VOSI availavility and capability data.</description>
    <servlet-class>org.astrogrid.community.vosi.VosiServlet</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>PasswordChangeServlet</servlet-name>
    <display-name>Password change</display-name>
    <description>Allows users to change their passwords.</description>
    <servlet-class>org.astrogrid.community.webapp.PasswordChangeServlet</servlet-class>
  </servlet>
      
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <display-name>User accounts</display-name>
    <description>Allows users to extract certificate chains.</description>
    <servlet-class>org.astrogrid.community.server.sso.AccountServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CaServlet</servlet-name>
    <display-name>Certificate authority</display-name>
    <description>Allows the community operator to issue certificates to users.</description>
    <servlet-class>org.astrogrid.community.webapp.CaServlet</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>DatabaseServlet</servlet-name>
    <display-name>Community database</display-name>
    <description>Monitors the health of the database.</description>
    <servlet-class>org.astrogrid.community.webapp.DatabaseServlet</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <display-name>JUnitEE test runner</display-name>
    <description>Runs the self-tests.</description>
    <servlet-class>org.junitee.servlet.JUnitEEThreadedServlet</servlet-class>
  </servlet>
  
    <servlet>
        <servlet-name>AccountAdminServlet</servlet-name>
        <servlet-class>org.astrogrid.community.webapp.AccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>org.astrogrid.community.webapp.NewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>org.astrogrid.community.webapp.EmailListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackUpServlet</servlet-name>
        <servlet-class>org.astrogrid.community.server.backup.BackUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accounts/*</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/capabilities</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/availability</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PasswordChangeServlet</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CaServlet</servlet-name>
    <url-pattern>/admin/ca</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CaServlet</servlet-name>
    <url-pattern>/admin/ca/passphrase</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/admin/database</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <url-pattern>/admin/test/*</url-pattern>
  </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AccountAdminServlet</servlet-name>
        <url-pattern>/admin/account-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/admin/new-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/admin/user-email-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackUpServlet</servlet-name>
        <url-pattern>/admin/backup/community.zip</url-pattern>
    </servlet-mapping>
    <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name/>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
   
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>AstroGrid</realm-name>
  </login-config>

  <security-role>
    <role-name>manager</role-name>
  </security-role>

   <env-entry>
      <description>Community identifier</description>
      <env-entry-name>org.astrogrid.community.ident</env-entry-name>
      <env-entry-value>org.communityid.changethis</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <env-entry>
      <description>Community Default VOSpace (Registry Ivorn)</description>
      <env-entry-name>org.astrogrid.community.default.vospace</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the private key of your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.cakey</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/cakey.pem</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the root certificate for your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.cacert</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/cacert.pem</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the serial-number record for your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.caserial</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/ca.ser</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
      <description>Registry Query Endpoint (primary)</description>
      <env-entry-name>org.astrogrid.registry.query.endpoint</env-entry-name>
      <env-entry-value>http://registry.astrogrid.org/astrogrid-registry/services/RegistryQuery</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <env-entry>
      <description>Registry Query Endpoint (back-up)</description>
      <env-entry-name>org.astrogrid.registry.query.altendpoint</env-entry-name>
      <env-entry-value>http://alt.registry.astrogrid.org/astrogrid-registry/services/RegistryQuery</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

    <env-entry>
        <description>The name of the directory in which credentials are stored for users.</description>
        <env-entry-name>org.astrogrid.community.myproxy</env-entry-name>
        <env-entry-value>/opt/globus4.0.2/var/myproxy</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    
    <env-entry>
        <description>The URL of the web-application's front page (plain HTTP).</description>
        <env-entry-name>org.astrogrid.vosi.baseurl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    
    <env-entry>
        <description>The URL of the web-application's front page (HTTPS).</description>
        <env-entry-name>org.astrogrid.vosi.baseurlsecure</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
  
  </web-app>
