<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>AstroGrid Community</display-name>
  
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VosiServlet</servlet-name>
    <display-name>VOSI</display-name>
    <servlet-class>org.astrogrid.community.vosi.VosiServlet</servlet-class>
  </servlet>
    
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>org.astrogrid.community.webapp.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/capabilities</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/availability</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name/>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
   
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>AstroGrid</realm-name>
  </login-config>

  <security-role>
    <role-name>manager</role-name>
  </security-role>

   <env-entry>
      <description>Community identifier</description>
      <env-entry-name>org.astrogrid.community.ident</env-entry-name>
      <env-entry-value>org.communityid.changethis</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <env-entry>
      <description>Community Default VOSpace (Registry Ivorn)</description>
      <env-entry-name>org.astrogrid.community.default.vospace</env-entry-name>
      <env-entry-value>ivo://@REGAUTHORITY@/myspace</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the private key of your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.cakey</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/cakey.pem</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the root certificate for your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.cacert</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/cacert.pem</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
     <description>The name of the file holding the serial-number record for your certificate authority.</description>
     <env-entry-name>org.astrogrid.community.caserial</env-entry-name>
     <env-entry-value>/etc/grid-security/ca/ca.ser</env-entry-value>
     <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   
   <env-entry>
      <description>Registry Query Endpoint</description>
      <env-entry-name>org.astrogrid.registry.query.endpoint</env-entry-name>
      <env-entry-value>http://localhost:8080/astrogrid-registry/services/RegistryQuery</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <env-entry>
      <description>Publishing Metadata to Registry endpoint</description>
      <env-entry-name>org.astrogrid.registry.admin.endpoint</env-entry-name>
      <env-entry-value>http://localhost:8080/astrogrid-registry/services/RegistryUpdate</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

    <env-entry>
        <description>The name of the directory in which MyProxy keeps its records.</description>
        <env-entry-name>org.astrogrid.community.myproxy</env-entry-name>
        <env-entry-value>/opt/globus4.0.2/var/myproxy</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    
    <env-entry>
        <description>The URL of the web-application's front page.</description>
        <env-entry-name>org.astrogrid.vosi.baseurl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
  
  </web-app>
