#
# Example registry configuration file.
#
# Author:
#   A C Davenhall (ACD), Edinburgh.
#
# History:
#   10/6/03 (ACD): Original version.
#

expiryperiod 35   # expiry period in days.

#
# A list of servers.  At least one server must be present.  For each
# server its name and base URI are given, in that order.  Each item
# must be separated by one or more spaces. 

server serv1  http://www.blue.nowhere.org/s1
server serv2  http://www.blue.nowhere.org/s2
