div
{
  /*
    Borders.
    */
/*
  border-style:                   dotted;
  border-width:                   thin;
*/
  border-style:                   none;
  border-width:                   0;

  /*
    Margins and Padding.
    */
  margin-left:                    0;
  margin-right:                   0;
  margin-top:                     0;
  margin-bottom:                  0;
  
  padding-left:                   0;
  padding-right:                  0;
  padding-top:                    0;
  padding-bottom:                 0;
}

body
{
  /*
    Borders.
    */
/*
  border-style:                   dotted;
  border-width:                   1;
*/
  border-style:                   none;
  border-width:                   1px;

  /*
    Colors.
    */
  background-color:               white;

  /*
    Margins and Padding.
    */
  margin-left:                    0px;
  margin-right:                   0px;
  margin-top:                     0px;
  margin-bottom:                  0px;
  
  padding-left:                   0px;
  padding-right:                  0px;
  padding-top:                    0px;
  padding-bottom:                 0px;

  /* Default font, so we get some consistency. */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
}

#ag-body
{
  /*
    Colors.
    */
  background-color:               white;
  
  /*
    Dimensions.
  width:                          100%;
    */

  /*
    Margins and Padding.
    */
  margin-left:                    0;
  margin-right:                   0;
  margin-top:                     0;
  margin-bottom:                  0;

  padding-left:                   0px;
  padding-right:                  0px;
  padding-top:                    0px;
  padding-bottom:                 0px;
}

#ag-header
{
  /*
    Colors.
  background-color:               lightblue;
  color:                          blue;
    */

  /*
    Margins and Padding.
    */
  margin-top:                     0px;
  margin-bottom:                  0px;
/*
  margin-left:                    0
  margin-right:                   0;
  margin-top:                     0;
  margin-bottom:                  0;

  padding-left:                   10px;
  padding-right:                  10px;
*/
  padding-top:                    0px;
  padding-bottom:                 0px;
/*
  padding-bottom:                 2px;
*/
}

#ag-header-content
{
}

#ag-logo
{
  /*
    Alignment.
    */
  text-align:                     center;
  
  /*
    Dimensions.
    */
  width:                          23%;

  /*
    Positioning.
    */
  float:                          left;
}

#ag-logo-img
{
  /*
    Alignment.
    */
  vertical-align:                 middle;
}

#ag-footer
{
  /*
    Colors.
    */
  background-color:               white;
  color:                          white;
  
  /*
    Formatting.
    */
  text-align:                     right;
  
  /*
    Positioning.
    */
  clear:                          both;
}

#ag-main
{
  /*
    Positioning.
    */
  clear:                          both;
}

#ag-menu
{
  /*
    Borders.
    */
  border-style:                   solid;
  border-width:                   thin;

  /*
    Colors.
  background-color:               lightblue;
    */
  
  /*
    Dimensions.
    */
  width:                          20%;

  /*
    Margins and Padding.
    */
  margin-left:                    1%;

  /*
    Positioning.
    */
  float:                          left;
}


#ag-menu-title
{
  /*
    Colors.
    */
  background-color:               blue;
  color:                          lightblue;

  /*
    Text.
    */
  text-align:                     center;
}

.ag-menu-content
{
  /*
    Positioning.
    */
  position:                       relative;
  left:                           5%;
  
  /*
    Text.
    */
  text-decoration:                none;
}

.ag-menu-item
{
  /*
    Positioning.
    */
  position:                       relative;
  left:                           5%;
  
  /*
    Text.
    */
  text-decoration:                none;
}

.ag-menu-display
{
  /*
    Positioning.
    */
  position:                       relative;
  left:                           5%;

  /*
    Text.
    */
  text-decoration:                underline;
}

a.ag-menu-link
{
  /*
    Colors.
    */
  color:                          blue;
  
  /*
    Text.
    */
  text-decoration:                none;
}

a.ag-menu-link:link
{
  /*
    Text.
    */
  text-decoration:                none;
}

a.ag-menu-link:visited
{
  /*
    Text.
    */
  text-decoration:                none;
}

a.ag-menu-link:active
{
  /*
    Text.
    */
  text-decoration:                none;
}

a.ag-menu-link:hover
{
  /*
    Text.
    */
  text-decoration:                none;
}

.ag-h1
{
  /*
    Borders.
    */
  border-bottom-width:            2;
  border-bottom-style:            double;
  
  /*
    Margins and Padding.
    */
  margin-left:                    23%;
  margin-right:                   10%;
}

.ag-h2
{
  /*
    Borders.
    */
  border-bottom-width:            2;
  border-bottom-style:            solid;
  border-right-width:             2;
  border-right-style:             solid;
  
  margin-left:                    28%;
  margin-right:                   20%;
}


/* Added by KEA for new homepage layout */
div.boxedLayout {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: relative;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  background: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #000099;
}
div.boxedLayoutFoot {
  padding: 0px;
  margin: 0px;
  background: #FFFFFF;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #000099;
}
div.boxedLayout h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 2px 2px 5px;
  background: #000099;
  color: #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #000099;
}

span.frontPageText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
}
a.strongLink {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color:             #000099;
  font-weight:       bold;
  text-decoration:   none;
}
a.strongLink:hover {
  text-decoration:    underline;
}

/*
a.boxedLayout:link {
  color:             #000099;
  font-weight:       bold;
  text-decoration:  none;
}

a.boxedLayout:visited
{
  text-decoration:                none;
}

a.boxedLayout:active
{
  text-decoration:                none;
}

a.boxedLayout:hover
{
  text-decoration:                none;
}
*/
