         --- 
         Releases of AstroGrid 
         --- 
         Paul Harrison	
         --- 
         03-Oct-2008 
         --- 

Astrogrid Releases
    
* Deployment Sites

  The deployment sites represent the collection of component versions that make up the regular AstroGrid release cycles.  

   * {{{../../RELEASE/deploy/}Current Release}} - The latest integration-tested Release.
   
   * {{{../../HEAD/deploy/}Head}} - The latest development releases, not necessarily integration-tested (use at your own risk).
   
   * {{{../../2008.2/deploy}2008.2}} - A previous integration-tested release.
   
* Individual Components

   Each of the components can be individually released between each of the major Astrogrid release cycles you can find the {{{latest.html}latest versions here}}.
   
* Older Versions

   All of the astrogrid components are distributed via the AstroGrid maven site, so it is possible to find a complete record of all the released versions by browsing this site directly at
   {{http://www.astrogrid.org/maven2/org/astrogrid/}} 
   
   