<?xml version="1.0" ?>

<module name="nvo">
	<description>NVO Services</description>
		<property>
		<key>icon</key>
		<value>nvo.gif</value>
	</property>
	
		<property>
		<key>system.ui.menu.links</key>
		<value>
			<link text="NVO Home Page"
				icon="nvo.gif"
				toolTipText="Home Page for US National Virtual Observatory"
				url="http://www.us-vo.org/" />
		</value>
		</property>

	<property>
		<key>priority</key>
		<value>70</value>
	</property>	
	
	<component name="cone" 
		implementationClass="org.astrogrid.desktop.modules.nvo.ConeImpl"
		interfaceClass="org.astrogrid.acr.nvo.Cone">
		<description>Interface to NVO Cone Servers</description>
		<property>
			<key>icon</key>
			<value>search.gif</value>
		</property>
		<method name="constructQuery">
			<description>Construct a query URL</description>
		<property>
			<key>system.ui.menu.entry</key>
			<value>Construct a Cone Search</value>
		</property>		
	<property>
		<key>icon</key>
		<value>newfile_wiz.gif</value>
	</property>					
			<parameter name="service">
				<description>url of service endpoint, or ivorn of the service description</description>
			</parameter>
			<parameter name="ra">
				<description>right ascension (double)</description>
			</parameter>
			<parameter name="dec">
				<description>declination (double)</description>
			</parameter>
			<parameter name="sr">
				<description>search radius (double)</description>
			</parameter>
			<return>
				<description>query URL that can be fetched to execute this query</description>
			</return>
		</method>
		
		<method name="addOption">
			<description>Add an option to a query url</description>
			<parameter name="coneQuery">
				<description>the query url</description>
			</parameter>
			<parameter name="optionName">
				<description>the name of the option to add</description>
			</parameter>
			<parameter name="optionValue">
				<description>the value for the new option</description>
			</parameter>
			<return>
				<description>the query url with the new option appended</description>
			</return>
		</method>
		
		<method name="getResults">
			<description>Execute a cone query</description>
			<property>
			<key>icon</key>
			<value>run_tool.gif</value>
		</property>				
		<property>
			<key>system.ui.menu.entry</key>
			<value>Execute a Cone Search</value>
		</property>			
			<parameter name="coneQuery">
				<description>A query URL</description>
			</parameter>
			<return>
				<description>A votable document</description>
				<property><!-- TODO - later use votable stylesheet for this -->
					<key>system.result.transformer</key>
					<value>org.astrogrid.desktop.modules.system.transformers.DocumentResultTransformerSet</value>
				</property>				
			</return>
		</method>
		
		<method name="saveResults">
			<description>Execute a cone query and save results</description>
			<property>
			<key>icon</key>
			<value>run_tool.gif</value>
		</property>				
		<property>
			<key>system.ui.menu.entry</key>
			<value>Execute a Cone Search and save results</value>
		</property>			
			<parameter name="coneQuery">
				<description>A query URL</description>
			</parameter>
			<parameter name="saveLocation">
				<description>A ftp://, file:// or ivo:// (mspace) save location</description>
			</parameter>
			<return>
				<description>nothing</description>
			</return>			
		</method>
	</component>
	
	<method name="getRegistryQuery">
		<description>returns an adql query that will list all cone services</description>
		<return>
			<description>an adql query</description>
		</return>
	</method>		
		
</module>