a.ceconly, a.ceconly:link, a.ceconly:visited, a.ceconly:active, a.ceconly:hover {
	background: url(../images/ceconly.png) right center no-repeat;
	padding-right: 28px;
	text-decoration: line-through;
	cursor: wait;
	color: #FF9900;
}