span.ceconly a, span.ceconly a:link, span.ceconly a:visited, span.ceconly a:active, span.ceconly a:hover {
	background: url(../images/ceconly.png) right center no-repeat;
	padding-right: 28px;
	text-decoration: line-through;
	cursor: wait;
	color: #FF9900;
}