<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	
	<display-name>Common Execution Connector for Java-class applications</display-name>
	
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	
        <servlet>
          <servlet-name>JUnitEETestServlet</servlet-name>
          <description>JUnitEE test runner</description>
          <servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
        </servlet>
	
	<!-- a small servlet that will invoke the CommonExecutionController to make sure that it registers itself on statup -->
	<servlet>
		<servlet-name>CommonExecutionControllerInitializer</servlet-name>
		<servlet-class>org.astrogrid.applications.component.InitServlet</servlet-class>
		<load-on-startup>200</load-on-startup>	
	</servlet>
	
	<servlet>
		<servlet-name>EnvironmentServlet</servlet-name>
		<display-name>Environment control servlet</display-name>
		<servlet-class>org.astrogrid.applications.component.CeaEnvironmentServlet</servlet-class>
		<init-param>
			<param-name>next.resource</param-name>
			<param-value>/admin/environment-save.jsp</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
        
  <servlet>
    <servlet-name>VosiServlet</servlet-name>
    <servlet-class>org.astrogrid.applications.vosi.VosiServlet</servlet-class>
  </servlet>
	
	<servlet-mapping>
		<servlet-name>CommonExecutionControllerInitializer</servlet-name>
		<url-pattern>/cec-http</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EnvironmentServlet</servlet-name>
		<url-pattern>/admin/EnvironmentServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JUnitEETestServlet</servlet-name>
		<url-pattern>/TestServlet/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
        
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/capabilities</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>VosiServlet</servlet-name>
    <url-pattern>/VOSI/availability</url-pattern>
  </servlet-mapping>
	
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<welcome-file-list id="WelcomeFileList">
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jws</welcome-file>
	</welcome-file-list>
	
	<env-entry>
		<description>The name of the Java class defining the applications. Each static method of the class appears as one CEA application.</description>
		<env-entry-name>cea.javaclass.server.class</env-entry-name>
		<env-entry-value>org.astrogrid.applications.javaclass.SampleJavaClassApplications</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	
  <env-entry>
 	  <description>The naming-authority identifier under which the applications will be registered.  Enter an ID that is supported by your publishing registry.</description>
   	<env-entry-name>cea.application.authorityid</env-entry-name>
 	  <env-entry-value>org.astrogrid.localhost</env-entry-value>
  	<env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
	
	<env-entry>
		<description>The full path to a directory where the CEC may keep its working files.</description>
		<env-entry-name>cea.base.dir</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>The URL for this web-application. Set the server address and port to match your server. Don't leave the address set to localhost; you MUST set it. Replace astrogrid-cea-server with the name of your web application.</description>
		<env-entry-name>cea.webapp.url</env-entry-name>
		<env-entry-value>http://localhost:8080/astrogrid-cea-server</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<env-entry>
		<description>Class name of the component-manager implementation to use. Don't change this during deployment!</description>
		<env-entry-name>cea.component.manager.class</env-entry-name>
		<env-entry-value>org.astrogrid.applications.component.JavaClassCEAComponentManager</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
        
        <env-entry>
          <description>Class-name of the access-policy plug-in for controlling requests to this service. Use the default value if you don't want to restrict access.</description>
          <env-entry-name>cea.access.policy</env-entry-name>
          <env-entry-value>org.astrogrid.security.authorization.OpenAccessPolicy</env-entry-value>
          <env-entry-type>java.lang.String</env-entry-type>
        </env-entry>
	
	<env-entry>
		<description>The service endpoint for querying the resource registry.</description>
		<env-entry-name>org.astrogrid.registry.query.endpoint</env-entry-name>
		<env-entry-value>http://galahad.star.le.ac.uk:8080/astrogrid-registry/services/RegistryQuery</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

	<env-entry>
		<description>The service endpoint for updating the resource registry.</description>
		<env-entry-name>org.astrogrid.registry.admin.endpoint</env-entry-name>
		<env-entry-value>http://localhost:8080/astrogrid-registry/services/RegistryUpdate</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
        
        <env-entry>
          <description>Whether HTTP "chunking" is used when sending data to AstroGrid MySpace: set to "enabled" or "disabled". "Chunking" reduces the memory load on this service.</description>
          <env-entry-name>org.astrogrid.filestore.chunked.send</env-entry-name>
          <env-entry-value>enabled</env-entry-value>
          <env-entry-type>java.lang.String</env-entry-type>
        </env-entry>
	
</web-app>